Q1. Create one variable containing the following types of data:

In [1]:
# Creating a variable with different types of data
data = {
    "string": "Hello, World!",
    "list": [1, 2, 3, 4, 5],
    "float": 3.14,
    "tuple": (10, 20, 30)
}

# Accessing each type
print(data["string"])  # Output: Hello, World!
print(data["list"])    # Output: [1, 2, 3, 4, 5]
print(data["float"])   # Output: 3.14
print(data["tuple"])   # Output: (10, 20, 30)

Hello, World!
[1, 2, 3, 4, 5]
3.14
(10, 20, 30)

Q2. Given the following variables containing data, what will be their data type?

In [5]:
var1 = ' '
print(type(var1))
var2 = '[ DS , ML , Python]'
print(type(var2))
var3 = ['DS', 'ML', 'Python']
print(type(var3))
var4 = 1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:

(i) / (Division):

Ans. Divides the left-hand operand by the right-hand operand and returns the quotient as a float.

In [6]:
result = 10 / 3
print(result)

3.3333333333333335

(ii) % (Modulus):

Ans. Returns the remainder when the left-hand operand is divided by the right-hand operand.

In [7]:
remainder = 10 % 3
print(remainder)

1

(iii) // (Floor Division):

Ans. Divides the left-hand operand by the right-hand operand and returns the largest integer less than or equal to the quotient.

In [8]:
result = 10 // 3
print(result)

3

(iv) ** (Exponentiation):

Ans. Raises the left-hand operand to the power of the right-hand operand.

In [9]:
result = 2 ** 3
print(result)

8

Q4. Create a list of length 10 containing multiple types of data. Using a for loop, print the element and its data type.

In [10]:
# Creating a list with multiple types of data
mixed_list = [1, 3.14, "Hello", True, None, [1, 2, 3], {"key": "value"}, (10, 20), {1, 2, 3}, b'byte']

# Using a for loop to print each element and its data type
for item in mixed_list:
    print(f"Element: {item}, Data Type: {type(item)}")

Element: 1, Data Type: <class 'int'>
Element: 3.14, Data Type: <class 'float'>
Element: Hello, Data Type: <class 'str'>
Element: True, Data Type: <class 'bool'>
Element: None, Data Type: <class 'NoneType'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'key': 'value'}, Data Type: <class 'dict'>
Element: (10, 20), Data Type: <class 'tuple'>
Element: {1, 2, 3}, Data Type: <class 'set'>
Element: b'byte', Data Type: <class 'bytes'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [11]:
# Example values for A and B
A = 48
B = 4

count = 0
while A % B == 0:
    A = A // B
    count += 1

print(f"The number can be divisible {count} times.")

The number can be divisible 2 times.

Q6. Create a list containing 25 int type data. Using a for loop and if-else condition, print if the element is divisible by 3 or not.

In [12]:
# Creating a list of 25 integers
int_list = [i for i in range(1, 26)]

# Checking divisibility by 3 using a for loop
for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Answer:

Mutable Data Types: These are data types whose values can be changed after they are created. For example, lists and dictionaries.

In [13]:
my_list = [1, 2, 3]
my_list[0] = 100
print(my_list)

[100, 2, 3]

Answer:
    
Immutable Data Types: These are data types whose values cannot be changed after they are created. For example, strings and tuples.

In [14]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 100
print(my_tuple)

(1, 2, 3)